<include file="Public/header" />
	<!-- main -->
	<div id="mainbody">
		
		<div class="panel"> 
				<div class="panel-head">文章管理<small class="padding-left">增加文章</small></div> 
				<div class="panel-body">
					<form method="post" class="form-x" action="" enctype="multipart/form-data">
					  	<div class="form-group">
							<if condition = "$catenumber neq ''">
								<div class="label">
									<label for="readme">你选择的周期是：</label>
								</div>
								<div class="field">
									<input class="input input-auto" size="30" name="" value="{$catenumber.number}" disabled="disabled">
									<input name="news_cate_id" value="{$catenumber.id}" type="hidden">
								</div>

								<else/>
								<div class="label">
									<label for="readme">所属周期：</label>
								</div>
								<div class="field">
									<select name="news_cate_id" style="width: 240px; height: 30px; ">
                                                                            <if condition="$periods eq ''"><option>选择周期数</option>
										<foreach name='cate' item='cat'>
											<option value="{$cat.id}">{$cat.number}</option>
										</foreach>
                                                                            <else/>
                                                                            <option value="{$periods['id']}">{$periods.number}</option>
                                                                            </if>
									</select>
								</div>
							</if>
						</div>

					
					
						<div class="form-group">
								<div class="label">
									<label for="readme">标题：</label>
								</div>
								<div class="field">
									<input class="input input-auto" size="60" name="title" placeholder="文章标题" data-validate="required:请填写文章标题">
									<input class="input input-auto" size="35" name="subtitle" placeholder="文章小标题，可选">
								</div>
						</div>

						<div class="form-group">
								<div class="label">
									<label for="readme">内容：</label>
								</div>
								<div class="field">
									<textarea class="input" name="des" rows="3" cols="50" placeholder="栏目描述，填写描述更有利于搜索引擎收录"></textarea>
								</div>
						</div>
						<div class="form-group">
								<div class="label">
									<label for="readme">作者：</label>
								</div>
								<div class="field">
									<input class="input input-auto" size="40" name="author" placeholder="">
									<!--<span class="margin-left">发布日期：</span><input class="input input-auto" size="30" name="posttime" value="" placeholder="发布日期：2016-01-01 12:00:00" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" >-->
								</div>
						</div>
						<div class="form-group">
								<div class="label">
									<label for="readme">封面图：</label>
								</div>
								<div class="field">
									<div class="media">
										<img src="__PUBLIC__/admin/images/defaultimg.png" id="listimg" width="100px" height="60px" class="radius" alt="...">
									</div>
									<input type="file" size="40" id="list_img" name="touimg" value="">
								</div>
						</div>
						<!--<div class="form-group">-->
								<!--<div class="label">-->
									<!--<label for="readme">栏目内容：</label>-->
								<!--</div>-->
								<!--<div class="field">-->
									<!--<textarea id="content" name="content" style="width:100%"></textarea>-->
								<!--</div>-->
                                                                <!---->
						<!--</div>-->
						<div class="form-group">
								<div class="label">
									<label for="sort">自定义排序：</label>
								</div>
								<div class="field">
									<input class="input input-auto" size="30" name="sort" placeholder="0，数字越大排序越前，最大为99">
									<span class="margin-left">阅读量：</span><input class="input input-auto" size="10" name="readnum" placeholder="0">
								</div>
						</div>
						<!--<div class="form-group">-->
								<!--<div class="label">-->
									<!--<label for="sequence">是否推荐：</label>-->
								<!--</div>-->
								<!--<div class="field">-->
									<!--<div class="button-group radio">-->
										<!--<label class="button active">-->
											<!--<input name="is_recomm" value="0" checked="checked" type="radio"><span class="icon icon-check text-green"></span>-->
											<!--普通-->
										<!--</label>-->
										<!--<label class="button">-->
											<!--<input name="is_recomm" value="1" type="radio"><span class="icon icon-heart text-dot"></span>-->
											<!--推荐-->
										<!--</label>-->
									<!--</div>-->
								<!--</div>-->
						<!--</div>-->
						<!--<div class="form-group">-->
								<!--<div class="label">-->
									<!--<label for="sequence">状态：</label>-->
								<!--</div>-->
								<!--<div class="field">-->
									<!--<div id="status" class="button-group radio">-->
										<!--<label class="button active">-->
											<!--<input name="status" value="1" checked="checked" type="radio"><span class="icon icon-check text-green"></span>-->
											<!--正常-->
										<!--</label>-->
										<!--<label class="button">-->
											<!--<input name="status" value="0" type="radio"><span class="icon icon-times"></span>-->
											<!--禁止-->
										<!--</label>-->
									<!--</div>-->
								<!--</div>-->
						<!--</div>-->
						
						<div class="form-group">
							<div class="label">
							<label for="readme"></label>
							</div>
							<div class="field">
							<input type="submit" class="button bg-main" value="添加文章" name="">
							</div>
						</div>
					</form>
				</div>
		</div>
	</div>
	<script type="text/javascript">
                var editor;
                KindEditor.ready(function(K) {
                        editor = K.create('textarea[name="content"]', {
                                allowFileManager : true
                        });
                K('#listimg').click(function() {
                            editor.loadPlugin('image', function() {
                                    editor.plugin.imageDialog({
                                            imageUrl : K('#listimg').val(),
                                            clickFn : function(url, title, width, height, border, align) {
                                                    K('#list_img').val(url);
                                                    K('#listimg').attr("src",url);
                                                    editor.hideDialog();
                                            }
                                    });
                            });
                    });
                });
        </script>
</body>
</html>