<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title></title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="viewport" content="width=device-width"/>
<link rel="stylesheet" href="__PUBLIC__/Admin/other/css/pintuer.css"/>
<!--<link rel="stylesheet" href="__PUBLIC__/css/admin.css"/>-->
<!--[if lt IE 8]>
<script type="text/javascript">
    alert('请您升级到IE8或以上版本!');
    window.open("http://www.baidu.com/search/theie6countdown.html","_self");
</script>
<![endif]-->
<style>
.panel{z-index:10000;}
.hand{cursor:hand;}
.ke-dialog-default{top:78px;}
</style>
</head>
<body>
	<!-- 顶部导航栏 -->
	