<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>投诉详情</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .form-group { padding-bottom: 15px;margin-bottom: 15px;}
        .form-horizontal .control-label{padding:0 0 0 0}
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="panel panel-default" style="margin-top:20px;">
        <div class="panel-heading"><span class="glyphicon glyphicon-pencil"></span> 投诉详情</div>
        <div class="panel-body">
            <form action="" method="post" class="form-horizontal">
                <div class="form-group">
                    <label for="phone" class="col-sm-2 col-lg-1 col-md-2 control-label">投诉人：</label>
                    <div class="col-sm-10 col-lg-6 col-md-6">
                        {$data['informant']}
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 col-lg-1 col-md-2 control-label">投诉理由：</label>
                    <div class="col-sm-10 col-lg-6 col-md-6">
                        <if condition="$data['data']['reason'] eq 1">垃圾营销
                        <elseif condition="$data['data']['reason'] eq 2"/>淫秽色情
                        <elseif condition="$data['data']['reason'] eq 3"/>有害信息
                        <elseif condition="$data['data']['reason'] eq 4"/>违法信息
                        <elseif condition="$data['data']['reason'] eq 5"/>人身攻击
                        </if>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 col-lg-1 col-md-2 control-label">投诉模块：</label>
                    <div class="col-sm-10 col-lg-6 col-md-6">
                        <if condition="$data['data']['type'] eq 1">心愿帮
                            <elseif condition="$data['data']['type'] eq 2"/>心愿墙
                            <elseif condition="$data['data']['type'] eq 3"/>心愿汇
                            <elseif condition="$data['data']['type'] eq 4"/>心愿圈
                        </if>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 col-lg-1 col-md-2 control-label">投诉内容：</label>
                    <div class="col-sm-10 col-lg-6 col-md-6">
                        {$data['data']['content']}
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 col-lg-1 col-md-2 control-label">投诉时间：</label>
                    <div class="col-sm-10 col-lg-6 col-md-6">
                        {$data['data']['create_time']|date="Y-m-d H:i:s",###}
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 col-lg-1 col-md-2 control-label">状态：</label>
                    <div class="col-sm-10 col-lg-6 col-md-6">
                        <if condition="$data['data']['state'] eq 0">待审核
                        <elseif  condition="$data['data']['state'] eq 1"/>审核通过
                        <elseif  condition="$data['data']['state'] eq 2"/>审核不通过
                        </if>
                    </div>
                </div>
                <if condition="$data['data']['state'] eq 0">
                    <div class="form-group" data-id="{$data['data']['id']}">
                        <label for="name" class="col-sm-2 col-lg-1 col-md-2 control-label">审核：</label>
                        <a href="javascript:;" class="adopt" style="font-size:20px;color: #00aa00">通过</a>
                        <a href="javascript:;" class="reject" style="font-size:20px;color: #ac2925;margin-left: 10px;">驳回</a>
                    </div>
                    <else/>
                </if>
            </form>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Admin/layer/layer.js"></script>
<script>
    $(".adopt").click(function(){
        var adopt = $(this).parent().attr('data-id');
        layer.confirm('你正在通过该用户的投诉审核，是否确定？', {
            btn: ['是的','按错'] //按钮
        }, function(){
            $.ajax({
                type:'post',
                url:'{:U("Complain/report_audit")}',
                data:{id:adopt,class:2,type:1},
                dataType:'json',
                success:function(data) {
                    if(data === 1 ){
                        layer.msg('投诉申请通过', {shift: 6});
                        setTimeout(function(){
                            window.location.reload();  //刷新当前页
                        },2000);

                    }else{
                        layer.msg('操作失败，重新操作');
                    }
                }
            });
        }, function(){
            //选择 按错 不执行
        });
    });
    $(".reject").click(function(){
        var reject = $(this).parent().attr('data-id');
        layer.confirm('你正在驳回该用户的投诉审核，是否确定？', {
            btn: ['是的','按错'] //按钮
        }, function(){
            $.ajax({
                type:'post',
                url:'{:U("Complain/report_audit")}',
                data:{id:reject,class:2,type:2},
                dataType:'json',
                success:function(data) {
                    if(data === 1 ){
                        layer.msg('审核驳回成功');
                        setTimeout(function(){
                            window.location.reload();  //刷新当前页
                        },2000);

                    }else{
                        layer.msg('操作失败，重新操作');
                    }
                }
            });
        }, function(){
            //选择 按错 不执行
        });
    });
</script>

</body>
</html>