<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订单列表</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/div.css">
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style>
	.num,.current,.next,.prev{border: 1px solid #ccc; padding: 5px 10px; border-radius: 5px; margin-right:5px;}
	.ml-20{margin-left:20px;}
	.tag{font-size: 75%;border-radius: 0.25em;background: #999;padding: 0.1em 0.5em 0.2em;color: #fff;}
	.bg-sub{background-color: #0ae;}
	.bg-dot{background-color: #e33;}
	a{text-decoration:none;}
	a:hover{color:#fff;text-decoration:none;}
	</style>
  </head>
  <body>
        <div class="container-fluid">
            <div class="container-fluid">
              <h2>订单管理</h2>
        </div>
        <div class="container-fluid">
            <span class="glyphicon glyphicon-list btn btn-default">&nbsp;心愿列表</span>
            <!-- <a href="{:U('Xinyuan/lists', array('is_check' => 0))}" class="btn btn-danger" style="margin-left:20px">批量退还心元</a>
            <a href="{:U('Xinyuan/lists', array('is_check' => 1))}" class="btn btn-success">已审核</a> -->
            <a href="javascript:;" class="btn refund btn-info">批量退还心元</a>
            <!-- <a href="{:U('Xinyuan/lists', array('status' => 2))}" class="btn btn-warning">未达成</a>
            <a href="{:U('order/index', array('otype' => 2))}" class="btn btn-success">提现订单</a>
            <a href="{:U('order/index', array('otype' => 1))}" class="btn btn-info">充值订单</a> -->
        </div>
        <div class="panel panel-default" style="margin-top:20px;">
            <div class="panel-heading">
                <h3 class="panel-title">参与心愿人列表</h3>
            </div>
            <div class="panel-body">
            <form action="{:U('Xinyuan/refund')}" id="myForm" method="get">
              <table class="table table-bordered table-striped table-condensed">
                 <thead>
                    <tr>
                    	<th>编号</th>
                        <th>标题</th>
                        <th>发布者</th>
                        <th>参与者</th>
                        <th>参与金额</th>
                        <th>心愿类别</th>
                        <th>心愿状态</th>
                        <th style="padding-left:20px;">操作</th>                        
                    </tr>
                  </thead>
                    <tbody>
                     <volist name="data" id="vo">   
                        <tr>
                        	<input type="hidden" name="xid[]" value="{$vo.id}">
                            <td>{$vo.id}</td>
	                        <td>{$vo.title}</td>
	                        <td>{$vo.user}</td>
	                        <td>{$vo.invo_uid}</td>
	                        <td>{$vo.invo_mon}心元</td>
	                        <td>{$vo.type}</td>
	                        <td><if condition="$vo.status eq 0">进行中<elseif condition="$vo.status eq 1" /><span style="color:blue;">已达成</span><else /><span style="color:red;">未达成</span></if></td>
	                        <td>
                                <if condition="$vo.is_finish eq 0 && $vo.is_refund eq 0"><a href="{:U('Xinyuan/refund',array('xid' => $vo['id']))}" class="bg-sub tag margin-right">退还心元</a><elseif condition="$vo.is_refund eq 1"/><a  class="bg-sub tag margin-right">已退回</a><else /> ----</if>
								<!-- <a href="{:U('Xinyuan/del?id='.$vo['id'])}" onclick="if(confirm('确定删除?')==false)return false;" class="bg-dot tag margin-right">删除</a> -->
								
							</td>
                        </tr>
                     </volist>
                    </tbody>

                </table>
              </form>
            </div>
			<div class="panel-footer">
				{$page}
			</div>
        </div>
    </div>
    <!-- js -->
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/layer/layer.js"></script>
	<script src="__PUBLIC__/js/pintuer.js"></script>
	
	<script>
	 $(".del").click(function(){
                var delid = $(this).parent().attr('data-id');
                layer.confirm('您确定要删除该数据吗？', {
                    btn: ['是的','按错'] //按钮
                }, function(){
                    //选择 是的
                    $.ajax({
                        type:'post',
                        url:'{:U("Goods/del")}',
                        data:{id:delid},
                        dataType:'json',
                        success:function(data) {  
                            if(data === 1 ){  
                                layer.msg('删除成功', {shift: 6});
                                window.location.reload();  //刷新当前页
                            }else{  
                                layer.msg('删除失败'); 
                            }  
                        }
                    });
                }, function(){
                    //选择 按错 不执行
                });
            });
	</script>
	<script>
	$(function(){
		$(".refund").click(function(){
			$("#myForm").submit();
		});
	});
	</script>
  </body>
</html>