<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Login</title>

    <link href="__Admin_CSS__style.css" rel="stylesheet">
    <link href="__Admin_CSS__style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__Admin_JS__html5shiv.js"></script>
    <script src="__Admin_JS__respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-body">

<div class="container">

    <form class="form-signin" action="{:U('User/login')}" method="post">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">Sign In</h1>
            <img src="__Admin_IMAGES__wxy-logo.png" alt=""/>
        </div>
        <div class="login-wrap">
            <input type="text" name="uname" class="form-control" placeholder="User ID" autofocus>
            <input type="password" name="password" class="form-control" placeholder="Password">
            <p><input type="text" name="code" class="form-control" placeholder="验证码" style="width:40%; float: left;"> <img src="{:U('Verify/auto')}" alt="如果看不到验证码,点击刷新验证码" id="vfcode" width="55%" style="float: left; margin-left:5%; cursor: pointer;"></p>
            <button class="btn btn-lg btn-login btn-block" type="submit">
                <i class="fa fa-check"></i>
            </button>

            <div class="registration">
            </div>
            <label class="checkbox">
                <input type="checkbox" name="forget" value="remember-me"> 记住登录状态
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> 忘记了密码?</a>

                </span>
            </label>

        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Forgot Password ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter your e-mail address below to reset your password.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-primary" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

    </form>

</div>


<script src="__Admin_JS__jquery-1.10.2.min.js"></script>
<script src="__Admin_JS__bootstrap.min.js"></script>
<script src="__Admin_JS__modernizr.min.js"></script>
<script>
//重载验证码
function fleshVerify()
{
var timenow = new Date().getTime();
document.getElementById('verifyImg').src= '{:U('Common/verify')}?'+timenow;
}
</script>
<script>
    
$(function(){

    $('#vfcode').on('click',function(){

        //点击更新验证码图片
        var url = '{:U('Verify/auto')}';
        url += '#';
        url += Math.ceil(Math.random()*100);
        $(this).attr('src',url);
    });
});
</script>
</body>
</html>
